{% extends 'OCCmsBundle::layout.html.twig' %}

{% block body %}

    <div class="container">

        <li>{{ page.title }} - {{ page.content }} - <a href="{{ path('allPages') }}">Liste des pages </a> </li>

    </div>

{% endblock %}