{% extends 'OCCmsBundle::layout.html.twig' %}

{% block body %}

    <div class="container">
        {% for page in pages %}
            <ul class="list-group">
               <li class="list-group-item">
                   {{ page.title }}
                   <a href="{{ path('oc_cms_read_page', {slug: page.slug }) }}"> View </a>
                   <a href="{{ path('oc_cms_update_page', {id: page.id }) }}"> Edit </a>
                   <a href="{{ path('oc_cms_delete_page', {id: page.id }) }}"> Delete </a>
               </li>
            </ul>
        {% endfor %}
    </div>

{% endblock %}