{% extends 'OCCmsBundle::layout.html.twig' %}

{% block body %}

    <div class="container">
        {% for page in pages %}
            {{ page.title }} - {{ page.content }}
        {% endfor %}
    </div>

{% endblock %}