{% extends 'OCCmsBundle::layout.html.twig' %}

{% block body %}

    <div class="container">
        {% for page in pages %}
            <ul>
               <li>{{ page.title }} - {{ page.content }} <a href="{{ path('oc_cms_one_page', {id: page.id }) }}"> View </a></li>
            </ul>

        {% endfor %}
    </div>

{% endblock %}